<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='nuage.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <title>Nuage</title>
  </head>
  <body>
    <header>
      <div class="logo">Nuage</div>
      <nav>
        <ul>
          <li><a href="{{ url_for('boutique') }}">Boutique</a></li>
          <li><a href="{{ url_for('recherche') }}">Recherche</a></li>
          <li><a href="#">Profil</a></li>
          <li><a href="#">Connexion</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Jeux populaires</h1>
      <div class="game-list">
        {% for jeu in jeux %}
          <div class="game-card">
            <img src="{{ url_for('static', filename=jeu.image_path) }}" alt="{{ jeu.titre }}" /> 
            <h3>{{ jeu.titre }}</h3>
            <p>Genre: {{ jeu.genres }}</p>
            <p>Prix: {{ jeu.prix }}$</p>
            <a href="{{ url_for('jeu', id=jeu.idjeu) }}" class=btn>Acheter</a>
          </div>
        {% endfor %}
    </main>

    <footer>
      <p>&copy; 2024 Nuage. Tous droits réservés.</p>
    </footer>
  </body>
</html>
