<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='nuage.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <title>inscription - Nuage</title>
  </head>
  <body>
    <header>
      <div class="logo">Nuage</div>
      <nav>
        <ul>
          <li><a href="{{ url_for('boutique') }}">Boutique</a></li>
          <li><a href="{{ url_for('recherche') }}">Recherche</a></li>
          {% if session.get('user_id') %}
          <li><a href="#">Profil</a></li>
          <li><a href="{{ url_for('deconnexion') }}">Déconnexion</a></li>
          {% else %}
          <li><a href="{{ url_for('connexion') }}">Connexion</a></li>
          <li><a href="{{ url_for('inscription') }}">inscription</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      <h1 style="text-align: center">Inscription</h1>
        <form class="inscription" action="{{ url_for('inscription') }}" method="POST">
            <div>
              <input
              class = "inscription"
              type="text"
              name="non"
              placeholder="Nom"
              required
              />
              
              <input
              class = "inscription"
              type="email"
              name="email"
              placeholder="Adresse mail"
              required
              />

              <input
              class = "inscription"
              type="text"
              name="user"
              placeholder="Nom d'utilisateur"
              required
              />

              <input
              type="password"
              name="password"
              placeholder="Mot de passe"
              required
              />

              <input
              class = "inscription"
              type="date"
              name="date_de_naissance"
              placeholder="Date de naissance"
              required
              />
      
            <div style="display: flex; justify-content: center;">
              <button type="submit" class="inscription">Rejoindre le nuage</button>
            </div>

          </div>
    </main>

    <footer>
      <p>&copy; 2024 Nuage. Tous droits réservés.</p>
    </footer>
  </body>
</html>
