<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='nuage.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <title>Nuage</title>
  </head>
  <body>
    <header>
      <div class="logo">Nuage</div>
      <nav>
        <ul>
          <li><a href="{{ url_for('boutique') }}">Boutique</a></li>
          <li><a href="{{ url_for('recherche') }}">Recherche</a></li>
          <li><a href="#">Profil</a></li>
          <li><a href="#">Connexion</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {% for jeu in jeux %}
      <div class="centered-div">
        <img
          class="centered-image"
          src="{{ url_for('static', filename=jeu.image_path) }}"
          alt="{{ jeu.titre }}"
        />
        <div class="text-content">
          <h3>{{ jeu.titre }}</h3>
          <p>Genre : {{ jeu.genres }}</p>
          <p>PEGI : {{ jeu.pegi }}</p>
          <p>Date de sortie : {{ jeu.date_de_sortie }}</p>
          <p>Développeur : {{ jeu.developpeur }}</p>
          <p>Éditeur : {{ jeu.editeur }}</p>
          <p>Description : {{ jeu.description_Jeu }}</p>
          <p>Prix : {{ jeu.prix }}$</p>
          <br />
          <a href="{{ url_for('jeu', id=jeu.idjeu) }}" class="btn">Acheter</a>
        </div>
      </div>

      {% endfor %}
    </main>

    <footer>
      <p>&copy; 2024 Nuage. Tous droits réservés.</p>
    </footer>
  </body>
</html>
