<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='nuage.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <title>Recherche - Nuage</title>
  </head>
  <body>
    <header>
      <div class="logo">Nuage</div>
      <nav>
        <ul>
          <li><a href="{{ url_for('boutique') }}">Boutique</a></li>
          <li><a href="{{ url_for('recherche') }}">Recherche</a></li>
          <li><a href="#">Profil</a></li>
          <li><a href="{{ url_for('connexion') }}">Connexion</a></li>
          <li><a href="{{ url_for('inscription') }}">inscription</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1 style="text-align: center">Recherche de jeux</h1>

      <div class="centered-div">
        <form action="{{ url_for('recherche') }}" method="GET">
          <input
            type="text"
            name="recherche"
            placeholder="Rechercher un jeu, genre, éditeur ou développeur..."
            required
          />
          <select name="type-recherche">
            <option value="titre">Titre</option>
            <option value="genres">Genre</option>
            <option value="developpeur">Développeur</option>
            <option value="editeur">Editeur</option>
          </select>
          <button type="submit" class="recherche">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>

      {% if resultats %}
      <h2>Résultats de la recherche :</h2>
      <div class="game-list">
        {% for jeu in resultats %}
        <div class="game-card">
          <img
            src="{{ url_for('static', filename=jeu.image_path) }}"
            alt="{{ jeu.titre }}"
          />
          <h3>{{ jeu.titre }}</h3>
          <p>Genre: {{ jeu.genres }}</p>
          <p>Prix: {{ jeu.prix }}$</p>
          <a href="{{ url_for('jeu', id=jeu.idjeu) }}" class="btn">Acheter</a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </main>

    <footer>
      <p>&copy; 2024 Nuage. Tous droits réservés.</p>
    </footer>
  </body>
</html>
