<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='nuage.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <title>Jeu - Nuage</title>
  </head>
  <body>
    <header>
      <div class="logo">Nuage</div>
      <nav>
        <ul>
          <li><a href="{{ url_for('boutique') }}">Boutique</a></li>
          <li><a href="{{ url_for('recherche') }}">Recherche</a></li>
          {% if session.get('user_id') %}
          <li>
            <a href="{{ url_for('profil', joueur_id=session.get('user_id')) }}"
              >Profil</a
            >
          </li>
          <li><a href="{{ url_for('deconnexion') }}">Déconnexion</a></li>
          {% else %}
          <li><a href="{{ url_for('connexion') }}">Connexion</a></li>
          <li><a href="{{ url_for('inscription') }}">inscription</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>
      {% for jeu in jeux %}
      <h1 style="text-align: center">{{ jeu.titre }}</h1>
      <div class="centered-div_jeu">
        <img
          class="centered-image"
          src="{{ url_for('static', filename=jeu.image_path) }}"
          alt="{{ jeu.titre }}"
        />
        <div class="text-content">
          <p>Genre : {{ jeu.genres }}</p>
          <p>PEGI : {{ jeu.pegi }}</p>
          <p>Date de sortie : {{ jeu.date_de_sortie }}</p>
          <p>Développeur : {{ jeu.developpeur }}</p>
          <p>Éditeur : {{ jeu.editeur }}</p>
          <p>Prix : {{ jeu.prix }}$</p>
          <p>Note : {{ jeu.notemoyenne }}</p>
          <br />
          {% if session.get('user_id') %}
            {% if possede %}
             {% if partage %}
             <form action="{{ url_for('annuler_partage', id_jeu=jeu.idjeu) }}" method="post">
              <button type="submit" class="btn">Annuler Partage</button>
            </form>
            {% else %}
            <!-- Formulaire de partage avec menu déroulant -->
            <form action="{{ url_for('partage_jeu', idjeu=jeu.idjeu) }}" method ="POST">
              <!-- Checkbox cachée -->
              <input type="checkbox" id="toggleInput" style="display: none;" />
        
              <!-- Label stylisé pour déclencher l'apparition -->
              <label for="toggleInput" class="btn-reappro">Partager le jeu</label>
        
              <!-- Conteneur de l'input (menu déroulant) -->
              <div id="inputContainer" class="hidden">
                <label for="amisSelect">Choisissez un ami :</label>
                <select name="ami" id="amisSelect">
                  <!-- Remplir dynamiquement avec la liste des amis -->
                  {% for ami in amis %}
                  <option value="{{ ami.idjoueur2 }}">{{ ami.pseudo2 }}</option>
                  {% endfor %}
                </select>
                <button type="submit">Partager</button>
                {% endif %}
              </div>
            </form>

            {% else %} 
            <a href="{{ url_for('achat_jeu', idjeu=jeu.idjeu) }}" class="btn">Acheter</a>
            {% endif %}
          {% endif  %}
        </div>
      </div>
      <div class="centered-div_jeu">
        <h2>Description</h2>
        <div class="text-descr">
          <p>{{ jeu.description }}</p>
        </div>
      </div>
      {% endfor %}

      <div class="centered-div_jeu">
        <h2>Succès</h2>
        <div class="text-comm">
          {% for succes in succes %}
          <p class="text-comm-card"> <strong> {{ succes.intitule }} </strong> : {{ succes.description_succes }}
          <br />
          {% for succes_obtenu in succes_obtenu %}
            {% if succes.idsucces == succes_obtenu.idsucces %}
              <strong style="color: green;">Obtenu</strong>
            {% endif %}
          {% endfor %}
        </p>
          {% endfor %}
        </div>
      </div>
      
      <div class="centered-div_jeu">
        <h2>Commentaires</h2>
        <div class="text-comm">
          {% for commentaire in commentaires %}
          <p class="text-comm-card">
            <strong class="align-right">{{ commentaire.note }}/20</strong>
            <br />
            <strong>{{ commentaire.pseudo }}</strong> : {{
            commentaire.textecommentaire }}
          </p>
          {% endfor %}
        </div>
      </div>
    </main>

    <footer>
      <p>&copy; 2024 Nuage. Tous droits réservés.</p>
    </footer>
  </body>
</html>
