<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='nuage.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <title>Recherche - Nuage</title>
  </head>
  <body>
    <header>
      <div class="logo">Nuage</div>
      <nav>
        <ul>
          <li><a href="{{ url_for('boutique') }}">Boutique</a></li>
          <li><a href="{{ url_for('recherche') }}">Recherche</a></li>
          {% if session.get('user_id') %}
          <li>
            <a href="{{ url_for('profil', joueur_id=session.get('user_id')) }}"
              >Profil</a
            >
          </li>
          <li><a href="{{ url_for('deconnexion') }}">Déconnexion</a></li>
          {% else %}
          <li><a href="{{ url_for('connexion') }}">Connexion</a></li>
          <li><a href="{{ url_for('inscription') }}">inscription</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      <div class="centered-div">
        {% if session.get('user_id') and joueur.idjoueur == session.get('user_id')%}
        <h1 style="text-align: center">Votre Profil</h1>
        {% else %}
        <h1 style="text-align: center">Profil de {{ joueur.pseudo }}</h1>
        {% endif %}
        <div class="game-card">
          <strong>ID joueur</strong> : {{ joueur.idjoueur }}<br />
          <strong>Pseudo</strong> : {{ joueur.pseudo }}<br />
          <strong>Email</strong> : {{ joueur.email }}<br />
          <strong>Date de naissance</strong> : {{ joueur.date_naissance }}<br />
          <strong>Solde</strong> : {{ joueur.solde }}€<br />


          {% if session.get('user_id') and joueur.idjoueur == session.get('user_id') %}
          <form action="{{ url_for('reapprovisionner') }}" method="post">
            <!-- Checkbox cachée -->
            <input type="checkbox" id="toggleInput" style="display: none;" />
          
            <!-- Label stylisé pour déclencher l'apparition -->
            <label for="toggleInput" class="btn-reappro">Réapprovisionner</label>
          
            <!-- Conteneur de l'input -->
            <div id="inputContainer" class="hidden">
              <label for="montant">Entrez un montant :</label>
              <input type="number" name="montant" id="montant" placeholder="Ex : 100" required />
              <button type="submit">Valider</button>
            </div>
          </form>
          {% endif %}


          {% if joueur.idjoueur != session.get('user_id') %}
          <form action="{{ url_for('ajout_ami', id_ami=joueur.idjoueur) }}" method="post">
            <button type="submit">Ajouter en ami</button>
          </form>
        {% endif %}
        </div>
        <h3 style="text-align: center">Mes jeux possédés</h3>
        <div class="game-list">
          {% for jeu in possede %}
          <div class="game-card">
            <img
              src="{{ url_for('static', filename=jeu.image_path) }}"
              alt="{{ jeu.titre }}"
            />
            <h3>{{ jeu.titre }}</h3>
            <p>
              Taux de complétion : {% for taux in taux_completion_jeux %} {% if
              taux == jeu.idjeu %} {{ taux_completion_jeux[taux] }} {% endif %}
              {% endfor %} %
            </p>
          </div>
          {% endfor %}
        </div>
        <h3 style="text-align: center">Mes jeux prêtés</h3>
        <div class="game-list">
          {% for jeu in partage %}
          <div class="game-card">
            <img
              src="{{ url_for('static', filename=jeu.image_path) }}"
              alt="{{ jeu.titre }}"
            />
            <h3>{{ jeu.titre }}</h3>
            <p>
              Taux de complétion : {% for taux in taux_completion_jeux %} {% if
              taux == jeu.idjeu %} {{ taux_completion_jeux[taux] }} {% endif %}
              {% endfor %} %
            </p>
          </div>
          {% endfor %}
        </div>
        <h3 style="text-align: center">Mes Commentaires</h3>
        <div class="text-comm">
          {% for commentaire in commentaires %}
          <p class="text-comm-card">
            <strong>{{ commentaire.jeu_titre }}</strong> : {{ commentaire.date }}
            <strong class="align-right">{{ commentaire.note }}/20</strong>
            <br />
            {{ commentaire.textecommentaire }}
          </p>
          {% endfor %}
        </div>
        <h3 style="text-align: center">Mes amis</h3>
        <div class="game-list">
          {% for info_ami in infos_amis %}
          <div class="game-card">
            <h3>{{ info_ami.pseudo }}</h3>
          </div>
          {% endfor %}
        </div>
      </div>
    </main>

    <footer>
      <p>&copy; 2024 Nuage. Tous droits réservés.</p>
    </footer>
  </body>
</html>
