<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='nuage.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <title>Recherche - Nuage</title>
  </head>
  <body>
    <header>
      <div class="logo">Nuage</div>
      <nav>
        <ul>
          <li><a href="{{ url_for('boutique') }}">Boutique</a></li>
          <li><a href="{{ url_for('recherche') }}">Recherche</a></li>
          {% if session.get('user_id') %}
          <li><a href="{{ url_for('profil') }}">Profil</a></li>
          <li><a href="{{ url_for('deconnexion') }}">Déconnexion</a></li>
          {% else %}
          <li><a href="{{ url_for('connexion') }}">Connexion</a></li>
          <li><a href="{{ url_for('inscription') }}">inscription</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      <h1 style="text-align: center">Profil de {{ joueur.pseudo }}</h1>
      <div class="centered-div">
        <div class="game-card">
          <strong>Id</strong> : {{ joueur.idjoueur }}<br />
          <strong>Pseudo</strong> : {{ joueur.pseudo }}<br />
          <strong>Email</strong> : {{ joueur.email }}<br />
          <strong>Date de naissance</strong> : {{ joueur.date_naissance }}<br />
          <strong>Soldes</strong> : {{ joueur.solde }}<br />
        </div>
      </div>
      <h3 style="text-align: center">Mes jeux possédés</h3>
      <div class="centered-div">
        <div class="game-list">
          {% for jeu in possede %}
          <div class="game-card">
            <img
              src="{{ url_for('static', filename=jeu.image_path) }}"
              alt="{{ jeu.titre }}"
            />
            <h3>{{ jeu.titre }}</h3>
            <p>
              Taux de complétion : {% for taux in taux_completion_jeux %} {% if
              taux == jeu.idjeu %} {{ taux_completion_jeux[taux] }} {% endif %}
              {% endfor %}
              %
            </p>
          </div>
          {% endfor %}
        </div>
      </div>

      <h3 style="text-align: center">Mes jeux prêtés</h3>
      <div class="centered-div">
        <div class="game-list">
          {% for jeu in partage %}
          <div class="game-card">
            <img
              src="{{ url_for('static', filename=jeu.image_path) }}"
              alt="{{ jeu.titre }}"
            />
            <h3>{{ jeu.titre }}</h3>
            <p>
              Taux de complétion : {% for taux in taux_completion_jeux %} {% if
              taux == jeu.idjeu %} {{ taux_completion_jeux[taux] }} {% endif %}
              {% endfor %}
              %
            </p>
          </div>
          {% endfor %}
        </div>
      </div>

      <h3 style="text-align: center">Mes Commentaires</h3>
      <div class="centered-div">
        <div class="text-comm">
          {% for commentaire in commentaires %}
          <p class="text-comm-card">
            <strong>{{ commentaire.jeu }}</strong> : {{ commentaire.date }}
            <strong class="align-right">{{ commentaire.note }}/20</strong>
            <br />
            {{ commentaire.textecommentaire }}
          </p>
          {% endfor %}
        </div>
      </div>

      <h3 style="text-align: center">Mes amis</h3>
      <div class="centered-div">
        <div class="game-list">
          {% for ami in amis %}
          <div class="game-card">
            <h3>{{ ami.pseudo }}</h3>
          </div>
          {% endfor %}
        </div>
    </main>

    <footer>
      <p>&copy; 2024 Nuage. Tous droits réservés.</p>
    </footer>
  </body>
</html>
