<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='nuage.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <title>Recherche - Nuage</title>
  </head>
  <body>
    <header>
      <div class="logo">Nuage</div>
      <nav>
        <ul>
          <li><a href="{{ url_for('boutique') }}">Boutique</a></li>
          <li><a href="{{ url_for('recherche') }}">Recherche</a></li>
          {% if session.get('user_id') %}
          <li>
            <a href="{{ url_for('profil', joueur_id=session.get('user_id')) }}"
              >Profil</a
            >
          </li>
          <li><a href="{{ url_for('deconnexion') }}">Déconnexion</a></li>
          {% else %}
          <li><a href="{{ url_for('connexion') }}">Connexion</a></li>
          <li><a href="{{ url_for('inscription') }}">inscription</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      <section class="profile-header">
        {% if session.get('user_id') and joueur.idjoueur ==
        session.get('user_id') %}
        <h1>Votre Profil</h1>
        {% else %}
        <h1>Profil de {{ joueur.pseudo }}</h1>
        {% endif %}

        <div class="profile-info">
          <div class="profile-info-item">
            <strong>ID joueur</strong>
            <span>{{ joueur.idjoueur }}</span>
          </div>
          <div class="profile-info-item">
            <strong>Pseudo</strong>
            <span>{{ joueur.pseudo }}</span>
          </div>
          <div class="profile-info-item">
            <strong>Email</strong>
            <span>{{ joueur.email }}</span>
          </div>
          <div class="profile-info-item">
            <strong>Date de naissance</strong>
            <span>{{ joueur.date_naissance }}</span>
          </div>
          <div class="profile-info-item">
            <strong>Solde</strong>
            <span>{{ joueur.solde }}€</span>
          </div>
        </div>

        <div class="profile-actions">
          {% if session.get('user_id') and joueur.idjoueur ==
          session.get('user_id') %}
          <form action="{{ url_for('reapprovisionner') }}" method="post">
            <input type="checkbox" id="toggleInput" style="display: none" />
            <label for="toggleInput" class="btn-reappro"
              >Réapprovisionner</label
            >
            <div id="inputContainer" class="hidden">
              <label for="montant">Entrez un montant :</label>
              <input
                type="number"
                name="montant"
                id="montant"
                placeholder="Ex : 100"
                required
              />
              <button type="submit" class="btn">Valider</button>
            </div>
          </form>
          {% endif %} {% if session.get('user_id') and not est_ami and
          joueur.idjoueur != session.get('user_id') %}
          <form
            action="{{ url_for('ajout_ami', id_ami=joueur.idjoueur) }}"
            method="post"
          >
            <button type="submit" class="btn">Ajouter en ami</button>
          </form>
          {% endif %} {% if session.get('user_id') and est_ami and
          joueur.idjoueur != session.get('user_id') %}
          <form
            action="{{ url_for('supprimer_ami', id_ami=joueur.idjoueur) }}"
            method="post"
          >
            <button type="submit" class="btn">Supprimer de mes amis</button>
          </form>
          {% endif %}
        </div>
      </section>

      <section class="game-section">
        <h2>Mes jeux possédés</h2>
        <div class="game-list">
          {% for jeu in possede %}
          <div class="game-card">
            <img
              src="{{ url_for('static', filename=jeu.image_path) }}"
              alt="{{ jeu.titre }}"
            />
            <h3>{{ jeu.titre }}</h3>
            <p>
              Taux de complétion : {% for taux in taux_completion_jeux %} {% if
              taux == jeu.idjeu %} {{ taux_completion_jeux[taux] }} {% endif %}
              {% endfor %}
            </p>
            <a href="{{ url_for('jeu', id=jeu.idjeu) }}" class="btn">Voir</a>
          </div>
          {% endfor %}
        </div>
      </section>

      <section class="game-section">
        <h2>Mes jeux prêtés</h2>
        <div class="game-list">
          {% for jeu in partage %}
          <div class="game-card">
            <img
              src="{{ url_for('static', filename=jeu.image_path) }}"
              alt="{{ jeu.titre }}"
            />
            <h3>{{ jeu.titre }}</h3>
            <p>
              Taux de complétion : {% for taux in taux_completion_jeux %} {% if
              taux == jeu.idjeu %} {{ taux_completion_jeux[taux] }} {% endif %}
              {% endfor %}
            </p>
            <a href="{{ url_for('jeu', id=jeu.idjeu) }}" class="btn">Voir</a>
          </div>
          {% endfor %}
        </div>
      </section>

      <section class="comments-section">
        <h2>Mes Commentaires</h2>
        <div class="text-comm">
          {% for commentaire in commentaires %}
          <div class="text-comm-card">
            <span class="align-right">{{ commentaire.note }}/20</span>
            <strong>{{ commentaire.jeu_titre }}</strong>
            <p>{{ commentaire.textecommentaire }}</p>
            {% if session.get('user_id') and commentaire.idjoueur ==
            session.get('user_id') %}
            <a
              href="{{ url_for('supprimer_commentaire', id_commentaire=commentaire.idcommentaire) }}"
              class="btn"
              >Supprimer</a
            >
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </section>

      <section class="friends-section">
        <h2>Mes amis</h2>
        <div class="friends-list">
          {% for info_ami in infos_amis %}
          <div class="friend-card">
            <h3>{{ info_ami.pseudo }}</h3>
          </div>
          {% endfor %}
        </div>
      </section>

      <section class="achievements-section">
        <h2>Mes Succès</h2>
        <div class="succes-profil">
          {% for succes in succes_obtenus %}
          <div class="achievement-card">
            <strong>{{ succes.intitule }}</strong>
            <p>{{ succes.description_succes }}</p>
            <span style="color: green">Obtenu</span>
          </div>
          {% endfor %}
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 Nuage. Tous droits réservés.</p>
    </footer>
  </body>
</html>
