<!doctype html>
<html>
<title>École de magie de Poudlard</title>

<header>
  <h1 style="text-align:center"> Poudlard </h1>
  <h2 style="text-align:center"> École de Magie </h2>
</header>

<nav style="text-align:center; background-color:LightGray">
  <a href="accueil">Accueil</a> -
  <a href="pagesurdemande">Page sur demande</a> -
  <a href="potions">Potions</a> -
  <a href="choixpeau">Choixpeau magique</a> -
  <a href="cours">Cours</a>
</nav>

<p>
  Bienvenue à l'école de magie de Poudlard. Utilisez la barre de navigation pour accéder aux
  différentes pages du site web.
</p>

<p>
  <img
  src = "{{ url_for('static', filename = 'patient_13.jpeg') }}"
  alt = "calendrier"
  ></p>

</html>
