<!doctype html>
<html>
<title>Inscriptions à Poudlard</title>

<header>
  <h1 style="text-align:center"> Poudlard </h1>
  <h2 style="text-align:center"> Formulaire d'inscription </h2>
</header>

<nav style="text-align:center; background-color:LightGray">
  <a href="accueil">Accueil</a> -
  <a href="pagesurdemande">Page sur demande</a> -
  <a href="potions">Potions</a> -
  <a href="choixpeau">Choixpeau magique</a> -
  <a href="cours">Cours</a>
</nav>

<form method = "post" action = "inscription">
  <p> Nom : <input type = "text" name = "nom"> 
  <br> Prénom : <input type = "text" name = "prenom">
  <br> Âge : <input type = "number" min = 10 name = "age">

  <p> Genre :     
  <input type="radio" name="genre" value="H" id = "H">
  <label for = "H"> Sorcier </label> 
  <input type="radio" name="genre" value="F" id = "F">
  <label for = "F"> Sorcière </label>
  <input type="radio" name="genre" value="N" id = "N">
  <label for = "N"> Fantôme </label> 

  <p> <label for="baguette">Type de baguette :</label>
  <select id="baguette" name="baguette">
    <option value="phenix"> Plume de Phénix </option>
    <option value="velane"> Cheveux de Vélane </option>
    <option value="licorne"> Crin de Licorne </option>
    <option value="dragon"> Coeur de Dragon </option>
  </select>
  </p>

  <p> Choix des options :
  <br> 
    <input type="checkbox" name="cours" value="astr" id = "astr">
    <label for = "astr"> Astronomie </label>
  <br>
    <input type="checkbox" name="cours" value="divi" id = "divi">
    <label for = "divi"> Divination </label> 
  <br>
    <input type="checkbox" name="cours" value="rune" id = "rune">
    <label for = "rune"> Runes </label> 

  <p> Décrivez votre première expérience magique :
  <br> Date : <input type = "date" name = "pxp_date">
  <br> 
  <textarea 
    name = "message" 
    id = "pxp_desc" 
    rows = "4" 
    cols = "50"
  >Ecrivez votre histoire ici !
  </textarea>

  <p> Mot de passe : <input type = "password" name = "mdp">
  <br> Répéter le mot de passe : <input type = "password" name = "mdp">

  <p> <input type="submit" value="Envoyer"> <input type="reset" value="Réinitialiser">
</form>

</html>
