<!doctype html>
<html>
<title>Page sur demande</title>

<header>
  <h1 style="text-align:center"> Poudlard </h1>
  <h2 style="text-align:center"> École de Magie </h2>
</header>

<nav style="text-align:center; background-color:LightGray">
  <a href="accueil">Accueil</a> -
  <a href="pagesurdemande">Page sur demande</a> -
  <a href="potions">Potions</a> -
  <a href="choixpeau">Choixpeau magique</a> -
  <a href="cours">Cours</a>
</nav>

<p>
    La page sur demande détermine automatiquement l'information que vous cherchez ! <br>
    Voici le nombre alétoire du jour : {{ val_random }}. <br>
    Il est actuellement {{ h }} heures. <br>
    {% if h >= 7 and h < 9 %} 
        Au menu du prochain petit déjeuner : croissants et chocolat chaud. <br>
    {% elif h >= 17 and h < 19 %}
        Au menu du prochain dîner : poulet rôti et pommes de terre. <br>
    {% else %}
        Revenez plus tard pour connaître le menu du prochain repas. <br>
    {% endif %}
    Merci d'avoir utilisé la page sur demande ! <br>
</p>

</html>
