<!doctype html>
<html>
<title>Potions</title>

<header>
  <h1 style="text-align:center"> Poudlard </h1>
  <h2 style="text-align:center"> École de Magie </h2>
</header>

<nav style="text-align:center; background-color:LightGray">
  <a href="accueil">Accueil</a> -
  <a href="pagesurdemande">Page sur demande</a> -
  <a href="potions">Potions</a> -
  <a href="choixpeau">Choixpeau magique</a> -
  <a href="cours">Cours</a>
</nav>

<p>
  Entrez les ingrédients pour préparer une potion : <br>

  <form method = "post" action = "potions">

    <p>

      <label for="potions">Ingrédient n°1 : </label>

      <select id="potions_n1" name="Ingrédient n°1 : ">

        {% for pot in liste_pot %}
          <option value="{{ pot }}">{{ pot }}</option>
        {% endfor %}

      </select>

      <br>

      <label for="potions">Ingrédient n°2 : </label>

      <select id="potions_n2" name="Ingrédient n°2 : ">

        {% for pot in liste_pot %}
          <option value="{{ pot }}">{{ pot }}</option>
        {% endfor %}

      </select>

    </p>
    <input type="submit" value="Envoyer"> <input type="reset" value="Réinitialiser">
  </form> 
</p>

</html>
